<!DOCTYPE html>
<html lang="en"> xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bet app</title>
    <link th:href="@{/css/nav.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>

    <style>
        .draw {
            background-color: lightgreen;
        }
        .win {
            background-color: cornflowerblue;
        }
    </style>
</head>
<body>


</body>
</html>
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/utils.html :: navigation" />
<div th:replace="fragments/betsTable.html :: table" />
<div th:replace="fragments/utils.html :: footer" />
</body>
</html>